
<div class="img-thumbnail m-2">
  <div class="img-thumbnail text-center">
    <h6>User Details</h6>
  </div>
  <div class="border-bottom">
    <div>
      <label class="p-2" style="">First Name:</label>
      <p class="p-2">{{ user.firstName }}</p>
    </div>
  </div>
  <div class="border-bottom">
    <div>
      <label class="p-2">Surname:</label>
      <p class="p-2">{{ user.lastName }}</p>
    </div>
  </div>
  <div>
    <div class="border-bottom" style="">
      <label class="p-2">Email:</label>
      <p class="p-2 ">{{ user.email}}</p>
    </div>
  </div>
  <div class="border-bottom" style="max-width: 40%">
    <label class="p-2">Phone Number:</label>
    <p class="p-2">{{ user.phoneNumber }}</p>
  </div>
  <div class="text-center" style="height: 50px">
    <button class="btn-primary rounded-2" style="width: 150px;background-color: dodgerblue">Edit</button>
  </div>
</div>
