<div class="p-2 bg-body-tertiary d-flex flex-row justify-content-evenly rounded-2 m-2">
  <a class="nav-link border p-2 rounded-3 text-center" style="width: 150px" aria-current="page" routerLink="user-details">Your Details</a>
  <a class="nav-link border p-2 rounded-3 text-center" style="width: 150px" aria-current="page" routerLink="address-details">Your Addresses</a>
  <a class="nav-link border p-2 rounded-3 text-center" style="width: 150px" aria-current="page" routerLink="booking-details">Your Bookings</a>
</div>

<div>
  <router-outlet></router-outlet>
</div>
